spring:
    application:
        name: ms-discovery-eureka
---
spring:
    profiles: peer1
server:
    port: 8761
eureka:
    server:
        enable-self-preservation: false
    instance:
        hostname: peer1
        prefer-ip-address: true
    client:
        service-url:
            defaultZone: http://peer2:8762/eureka/
---
spring:
    profiles: peer2
server:
    port: 8762
eureka:
    server:
        enable-self-preservation: false
    instance:
        hostname: peer2
        prefer-ip-address: true
    client:
        service-url:
            defaultZone: http://peer1:8761/eureka/