server:
  port: 9000
spring:
  application:
    name: ms-provider-user
  #Database config
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/crady?useSSL=false
    username: root
    password: root
eureka:
  instance:
    hostname: ms-provider-user
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://peer1:8761/eureka/,http://peer2:8762/eureka/
#Log config
#logging:
#  config:
#    com.crady.user: info
#actuator config
management:
  endpoints:
    web:
      exposure:
        include: "*"
