server:
  port: 9999
spring:
  application:
    name: ms-gateway-zuul
  servlet:
    multipart:
      #启用 http multipart上传处理
      enabled: true
      #上传文件单个文件最大大小默认1MB,不限制设置为-1
      max-file-size: 100MB
      #设置最大的请求文件大小默认10MB,不限制设置为-1
      max-request-size: 100MB
      #上传临时目录
      location: /
  cloud:
    loadbalancer:
      retry:
        #支持zuul使用httpClient模式时的重试
        enabled: true
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://peer1:8761/eureka/,http://peer2:8762/eureka/
#feign hystrix config
feign:
  hystrix:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
# zuul config 不配置默认服务名
# localhost:9999/actuator/routes 可以查看项目所有映射
zuul:
  prefix: /api
  #转发服务时，是否去掉 /api，默认为true去掉前缀
  strip-prefix: true
  #线程池隔离策略，zuul默认使用信号量
  ribbon-isolation-strategy: thread
  thread-pool:
    #使用线程池隔离时，现成名称前缀
    thread-pool-key-prefix: zuul-
    #启用线程池隔离
    use-separate-thread-pools: true
  #zuul启动重试
  retryable: true
  host:
    #连接超时默认2000ms
    connect-timeout-millis: 2000
    #socket默认超时时间10000ms
    socket-timeout-millis: 10000
    #zuul最大连接数默认为200
    max-total-connections: 500
    #每个路由最大连接数默认20
    max-per-route-connections: 100
  routes:
    ms-provider-user: /user/**
    ms-consumer-movie: /movie/**
    ms-consumer-order: /order/**
  ignored-services: '*'
  #禁用指定过滤器
  PostCustomerFilter:
    post:
      disable: true
#  ignored-services: ms-hystrix-dashboard,ms-hystrix-tuibine
#ribbon config
ribbon:
  eager-load:
    #设置ribbon饥饿加载，防止懒加载可能造成第一次访问超时
    enabled: true
    clients: ms-provider-user
ms-provider-user:
  ribbon:
    #连接超时时间默认2000
    ConnectTimeout: 3000
    #负载均衡超时时间默认5000
    ReadTimeout: 6000
    MaxTotalHttpConnections: 500
    MaxConnectionsPerHost: 100
    #同一台机器重试次数(不包含首次调用)
    MaxAutoRetries: 1
    #切换实例重试次数(不包含首次调用)
    MaxAutoRetriesNextServer: 1
    #配置负载均衡策略
    #NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule
#hystrix配置
hystrix:
  command:
    #把default改成实例就是设置具体服务配置
    default:
      execution:
        isolation:
          #设置隔离策略默认thread，此外还要semaphore
          strategy: THREAD
          thread:
            #超时时是否终端操作,默认true
            interruptOnTimeout: true
            #hystrix超时设置，默认1000ms
            timeoutInMilliseconds: 15000
        timeout:
          #HystrixCommand命令执行是否设置超时(即是否启用timeoutInMilliseconds)，默认true
          enable: true
      circuitBreaker:
        #设置打开fallback功能的错误比例,默认50
        errorThresholdPercentage: 50
        #强制打开断路器，拒绝所有功能，默认false
        forceOpen: false
        #强制关闭断路器，允许所有功能，默认false
        forceClosed: false
  threadpool:
    default:
      #当为线程隔离时设置线程池核心线程数大小,默认10
      coreSize: 15
      #当为线程隔离时设置线程池最大线程数大小,默认10
      maximumSize: 50
      #当为线程隔离时设置线程池最大空闲时间,默认1分钟
      keepAliveTimeMinutes: 1